{% extends 'layout.html' %}
{% load static %}

{% block title %}จองบริการ{% endblock %}

{% block content %}
<div class="bg-[#74342B] min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

    <div class="max-w-md w-full space-y-8 bg-[#EDDCC2] p-6 rounded-lg shadow-md">

        <h2 class="mt-6 text-center text-3xl font-extrabold text-[#74342B]">จองบริการ</h2>

        <form class="mt-8 space-y-6" id="appointmentForm" method="post">
            {% csrf_token %}

            {{form}}
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#74342B] hover:bg-[#74342B]">
                    จองคิว
                </button>
        </form>
    </div>
</div>

{% endblock %}