{% extends 'layout.html' %}
{% load static %}

{% block title %}จองบริการ{% endblock %}

{% block content %}
<div class="bg-[#D18F90] min-h-screen flex items-center justify-center py-12 px-10 sm:px-6 lg:px-8">

    <div class="max-w-md w-full space-y-8 bg-[#EDDCC2] p-6 rounded-lg shadow-md">

        <h2 class="mt-6 text-center text-5xl font-extrabold text-[#74342B]">จองบริการ</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="my-8">
                <label class="block text-xl font-medium text-[#74342B] mb-2">{{ form.category.label_tag }}</label>
                    {{ form.category }}
            </div>

            <div class="my-8">
                <label class="block text-xl font-medium text-[#74342B] mb-2">{{ form.service.label }}</label>
                <select name="service" id="id_service" multiple class="form-multiselect w-full p-3 rounded-md border border-gray-300 bg-white text-gray-900 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 shadow-sm text-xl">
                    {% for service in form.service.field.queryset %}
                    <option value="{{ service.id }}" {% if service.id in form.service.value %}selected{% endif %}>
                        {{ service.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="my-8">
                <label class="block text-xl font-medium text-[#74342B] mb-2">{{ form.appointment_date.label_tag }}</label>
                    {{ form.appointment_date }}
            </div>

            <button type="submit"
                class="bg-[#74342B] group relative flex justify-center py-4 w-full mx-auto text-xl font-medium rounded-md text-[#EDDCC2] hover:bg-[#74342B] hover:bg-[#3A1212]">
                จองคิว
            </button>
        </form>
    </div>
</div>

{% endblock %}