<!DOCTYPE html>
<html lang="th" class="scroll-smooth focus:scroll-auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BelleSpace</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font metal -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal&display=swap" rel="stylesheet">
</head>

<body class="">

    <nav class="bg-[#3A1212] text-white p-4 fixed flex justify-between w-full pl-10">
        <a href="#" class="hover:text-[#D18F90] text-3xl font-bold ml-5">BelleSpace</a>

        <div class="flex space-x-6">
            <a href="#" class="text-2xl text-[#EDDCC2] hover:text-[#EDDCC2] relative">จอง</a>
            <a href="#" class="text-2xl text-[#EDDCC2] hover:text-[#EDDCC2] relative">ประวัติการจอง</a>
            <a href="#" class="text-2xl text-[#EDDCC2] hover:text-[#EDDCC2] relative">เข้าสู่ระบบ</a>
        </div>
    </nav>

    <!-- all -->
    <div>
        <!-- sec1 -->
        <div class="bg-[#EDDCC2]">
            <!-- sec1 content -->
            <div class="my-auto flex flex-col items-center justify-center h-screen w-full">
                <h1 class="text-9xl	font-semibold text-[#5A2E23] font-bbfont">BelleSpace</h1>
                <p class="text-4xl text-[#D18F90] mt-5">จองบริการร้านเสริมสวยได้ก่อนใคร</p>
                <a href="#more-service"><button
                        class="bg-[#D18F90] text-[#74342B] text-2xl font-bold py-8 px-12 rounded-3xl mt-9 hover:bg-[#a67a6b]">ดูบริการเพิ่มเติม</button></a>
            </div>
        </div>
        <!-- sec2 -->
        <div class="bg-[#D18F90] flex flex-col items-center justify-center h-screen w-full m-auto ">
            <!-- หัวข้อ+คำอธิบาย -->
            <div class="text-center ">
                <h1 class="text-8xl font-bold text-[#5A2E23]" id="more-service">สำรวจบริการ</h1>
                <p class="text-2xl text-[#5A2E23] py-3  mx-auto mb-12 mt-4">บริการครบครัน ทั้งทำผม ทำเล็บ แต่งหน้า
                    และสปา โดยช่างผู้เชี่ยวชาญ <br>พร้อมผลิตภัณฑ์คุณภาพเพื่อความสวยสมบูรณ์แบบ</p>
                <!-- block ใส่บริการทั้งหมด -->
                <div class="flex flex-col md:flex-row justify-center gap-8 px-6]">
                    <!-- บริการผม -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/img/hair.png" alt="Hair Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">ผม</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">บริการทำผมครอบคลุมทุกความต้องการ ทั้งตัด สระ
                            ไดร์ ดัด ยืด
                            และทำสี โดยช่างผู้เชี่ยวชาญและผลิตภัณฑ์คุณภาพสูง</p>
                        <a href="#more-hair">
                            <button
                                class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม
                            </button></a>
                    </div>
                    <!-- บริการเล็บ -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/img/nail.png" alt="Nail Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">เล็บ</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">บริการทำเล็บ ทั้งตัดแต่ง ทาสี เจล และเพ้นท์ลาย
                            โดยช่างมืออาชีพ เพื่อเล็บสวยดูดีเหมาะกับทุกโอกาส</p>
                        <a href="#more-nail">
                            <button
                                class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม</button>
                        </a>
                    </div>
                    <!-- บริการสปา -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/img/spa.png" alt="Spa Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">สปา</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">
                            บริการสปาผ่อนคลาย นวด ขัดผิว
                            โดยใช้ผลิตภัณฑ์ธรรมชาติ
                            เพื่อฟื้นฟูสุขภาพผิวให้สดใส</p>
                        <a href="#more-spa">
                            <button
                                class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- sec3 -->
        <div class="bg-[#EDDCC2] flex flex-col items-center h-screen w-full mx-auto ">
            <h2 id="more-hair" class="text-center text-[#5A2E23] text-8xl font-bold mt-32 ">บริการผม</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-12 gap-y-12 w-full mx-auto my-12 px-72">
                <!-- สระไดร์ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/washhair.jpg" class="w-full h-48 object-cover ">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สระ ไดร์</h3>
                </div>
                <!-- ตัดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/haircut.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ตัดผม</h3>
                </div>
                <!--ทำสี-->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/colorhair.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ทำสี</h3>
                </div>
                <!-- ดัดลอน -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/dud.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ดัดลอน</h3>
                </div>
                <!-- ยืดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/yued.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ยืดผม</h3>
                </div>
                <!-- อบไอน้ำ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg ">
                    <img src="../static/img/obainum.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">อบไอน้ำ</h3>
                </div>
            </div>
        </div>

        <div class="bg-[#EDDCC2] flex flex-col items-center h-screen w-full mx-auto ">
            <h2 id="more-nail" class="text-center text-[#5A2E23] text-8xl font-bold mt-32 ">บริการเล็บ</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-12 gap-y-12 w-full mx-auto my-12 px-72">
                <!-- สระไดร์ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="paintnail.jpg" class="w-full h-48 object-cover ">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">เพ้นท์เล็บ</h3>
                </div>
                <!-- ตัดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="gel.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ทำเล็บเจล</h3>
                </div>
                <!--ทำสี-->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="lok.jfif" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">การลอกเล็บเจล</h3>
                </div>
                <!-- ดัดลอน -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="khob.jfif" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ตัดแต่งเล็บ</h3>
                </div>
                <!-- ยืดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="cutnail.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ตัดเล็บขบ</h3>
                </div>
                <!-- อบไอน้ำ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg ">
                    <img src="tor.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">ต่อเล็บเจล</h3>
                </div>
            </div>
        </div>

        <div class="bg-[#EDDCC2] flex flex-col items-center h-screen w-full mx-auto ">
            <h2 id="more-spa" class="text-center text-[#5A2E23] text-8xl font-bold mt-32 ">บริการสปา</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-12 gap-y-12 w-full mx-auto my-12 px-72">
                <!-- สระไดร์ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/spahand.jpg" class="w-full h-48 object-cover ">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปามือ/เท้า</h3>
                </div>
                <!-- ตัดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/spa body.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปานวดตัว</h3>
                </div>
                <!--ทำสี-->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/spascrubbody.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปาขัดตัว</h3>
                </div>
                <!-- ดัดลอน -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/spaface.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปาใบหน้า</h3>
                </div>
                <!-- ยืดผม -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg">
                    <img src="../static/img/spa sauna.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปาซาวน่า</h3>
                </div>
                <!-- อบไอน้ำ -->
                <div class="bg-[#D18F90] rounded-lg shadow-lg ">
                    <img src="../static/img/spahydro.jpg" class="w-full h-48 object-cover">
                    <h3 class="text-center py-10 px-10 font-bold text-4xl text-[#5A2E23]">สปาบำบัดด้วยน้ำ</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>