{% extends 'layout.html' %}
{% load static %}

{%  block content %}

    <!-- all -->
    <div class="font">
        <!-- sec1 -->
        <div class="bg-[#EDDCC2]">
            <!-- sec1 content -->
            <div class="my-auto flex flex-col items-center justify-center h-screen w-full">
                <h1 class="text-9xl	font-semibold text-[#5A2E23] font-bbfont">BelleSpace</h1>
                <p class="text-4xl text-[#D18F90] mt-5">จองบริการร้านเสริมสวยได้ก่อนใคร</p>
                <a href="#more-service"><button class="bg-[#D18F90] text-[#74342B] text-2xl font-bold py-8 px-12 rounded-3xl mt-9 hover:bg-[#a67a6b]">ดูบริการเพิ่มเติม</button></a>
            </div>
        </div>
        <!-- sec2 --> 
        <div class="bg-[#D18F90] flex flex-col items-center justify-center h-screen w-full m-auto ">
            <!-- หัวข้อ+คำอธิบาย -->
            <div class="text-center ">
                <h1 class="text-8xl font-bold text-[#5A2E23]" id="more-service">สำรวจบริการ</h1>
                <p class="text-2xl text-[#5A2E23] py-3  mx-auto mb-12 mt-4">บริการครบครัน ทั้งทำผม ทำเล็บ แต่งหน้า และสปา โดยช่างผู้เชี่ยวชาญ <br>พร้อมผลิตภัณฑ์คุณภาพเพื่อความสวยสมบูรณ์แบบ</p>

                <!-- block ใส่บริการทั้งหมด -->
                <div class="flex flex-col md:flex-row justify-center gap-8 px-6]">
                    
                    <!-- บริการผม -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/image/hair.png" alt="Hair Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">ผม</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">บริการทำผมครอบคลุมทุกความต้องการ ทั้งตัด สระ ไดร์ ดัด ยืด
                            และทำสี โดยช่างผู้เชี่ยวชาญและผลิตภัณฑ์คุณภาพสูง</p>
                        <button
                            class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม</button>
                    </div>

                    <!-- บริการเล็บ -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/image/nail.png" alt="Nail Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">เล็บ</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">บริการทำเล็บ ทั้งตัดแต่ง ทาสี เจล และเพ้นท์ลาย
                            โดยช่างมืออาชีพ เพื่อเล็บสวยดูดีเหมาะกับทุกโอกาส</p>
                        <button
                            class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม</button>
                    </div>

                    <!-- บริการสปา -->
                    <div class="bg-[#EDDCC2] rounded-lg shadow-lg p-6 max-w-sm text-center">
                        <div class="mb-4">
                            <img src="../static/image/spa.png" alt="Spa Icon" class="mx-auto w-32">
                        </div>
                        <h2 class="text-2xl font-semibold text-[#5A2E23] mb-4">สปา</h2>
                        <p class="text-[#5A2E23] text-lg mb-4 py-10 px-7">บริการสปาผ่อนคลาย นวด ขัดผิว โดยใช้ผลิตภัณฑ์ธรรมชาติ
                            เพื่อฟื้นฟูสุขภาพผิวให้สดใส</p>
                        <button
                            class="bg-[#C69384] text-xl text-[#74342B] py-5 px-8 rounded-3xl hover:bg-[#74342B] hover:text-[#EDDCC2]">เพิ่มเติม</button>
                    </div>  
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
