{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" class="belle">BelleSpace</a>

        <div class="content">
            <a href="{% url 'appointment_form' %}" >จอง</a>
            <a href="{% url 'appointment' %}" >ประวัติการจอง</a>
            <a href="#" >เข้าสู่ระบบ</a>
        </div>
    </nav>
</body>
</html>    
    
