{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- font metal -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content bg-[#EDDCC2] min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Register</h2>
            <form method="post" action="{% url 'register_form' %}">
                {% csrf_token %}
                <div>
                    <div>
                        <label for="">Username</label>
                        {{form.username}}
                    </div>
                    <div>
                        <label for="">Password</label>
                        {{form.password1}}
                    </div>
                    <div>
                        <label for="">Confirm Password</label>
                        {{form.password2}}
                    </div>
                    <div>
                        <label for="">Email</label>
                        {{form.email}}
                    </div>
                    <div>
                        <label for="">First Name</label>
                        {{form.first_name}}
                    </div>
                    <div>
                        <label for="">Last Name</label>
                        {{form.last_name}}
                    </div>
                    <div>
                        <label for="">Gender</label>
                        {{form.gender}}
                    </div>
                    <div>
                        <label for="">Phone Number</label>
                        {{form.phone_number}}
                    </div>
                    <div>
                        <label for="">Birth Date</label>
                        {{form.birth_date}}
                    </div>
                </div>
                <button type="submit" class="transition ease-in-out delay-150 w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-[#74342B] bg-[#D18F90] hover:border-[#74342B] hover:bg-white hover:text-[#2f2f2f]  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
            </form>
        </div>
    </div>  
</body>
</html>
